
.errorDiv{
    width: 90%;
    height: 30vh;
    display: flex;
    text-align: center;
    font-size: large;
}
.main-financeDiv{
    width: 90%;
    height: 30vh;
    display: flex;
    box-shadow: 10px 10px 20px black ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .money-div{
        width: calc(100% / 4);
        border-right: 1px solid black ;
        background-color: #888ECF;
        
        .icone{
            padding: 20px;
            margin-bottom: 100px;
        }
        
        .title{
            font-size: 19px;
            margin-inline: 20px;
            font-weight: bold;
        }
    
        .finance-part{
            font-size: 24px;
            font-weight: bold;
        }
    }

    .money-div:nth-child(1) {
        border-bottom-left-radius: 25px;
    }

    .money-div:nth-child(4){
        border-bottom-right-radius: 25px;
    }
}

