.addManager_body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4584;
    
}

.addManager_div{
    width: 70%;
    height: 85%;
    box-shadow: 0px 0px 15px rgba(1, 1, 1, .7);
    background-color: white;
    border-radius: 20px;
    display: flex;
}

.left_div{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .formBx{
        width: 60%;
        background-color: white;                                                                                            
        padding:25px 25px;
                             
        
        h2{    
            font-weight:400;
            text-transform:uppercase;
            margin-bottom:20px;  
            border-bottom: 4px solid #ff4584;
            display: inline-block;
        }
        .inputBx{
            margin-block-end: 10px;         

            .textfield{
                width: 100%;
                outline: none;
                font-weight: 200;
                font-size: 14px;
                background: transparent;
                margin-bottom:8px;
            }
        }
    }
}

.right_div{
    width: 450px;
    height: 500px;
    position: absolute;
    top: 17%;
    left: 45%;
    box-shadow: 5px 5px 30px black;
    background-color: white;
    border-radius: 20px;
}






// section .imgBx::before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(225deg,#e91e63,#03a9f4);
//     z-index: 1;
//     mix-blend-mode: screen;
// }

